{% extends 'base-base.html' %}
{% load static i18n lang %}

{% block main_content %}
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="bi bi-emoji-laughing"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Beyond the admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% comment %}{% url 'dashboard' %}{% endcomment %}">
        <i class="bi bi-speedometer"></i>
        <span>{% trans "Dashboard" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      {% trans "Invoices" %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invoices:list' %}" >
        <i class="bi bi-view-list"></i>
        <span>{% trans "All invoices" %}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invoices:create' %}" >
        <i class="bi bi-file-earmark-plus"></i>
        <span>{% trans "Add invoice" %}</span>
      </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      {% trans "Companies" %}
    </div>
     <!-- Heading -->

    {% for company in companies %}
      <li class="nav-item">
      <a class="nav-link" href="{{ company.get_absolute_url }}" >
        <i class="bi bi-building"></i>
        <span>{{ company }}</span>
      </a>
    </li>
        {% endfor %}

      <!-- Divider -->
    <hr class="sidebar-divider">
      <div class="sidebar-heading">
      {% trans "Clients" %}
    </div>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'clients:list' %}" >
        <i class="bi bi-people"></i>
        <span>{% trans "All clients" %}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clients:create' %}" >
        <i class="bi bi-person-plus"></i>
        <span>{% trans "Add Client" %}</span>
      </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



  </ul>

  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="bi bi-three-dots"></i>
        </button>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item "><ul class="navbar-nav lang-chooser d-none d-lg-flex">{% lang_list %}</ul></li>
          <div class="topbar-divider d-none d-sm-block"></div>
          {% if request.user.is_authenticated %}
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.name }}</span>
              <img class="img-profile rounded-circle" src="{% static 'images/undraw_profile.svg' %}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'users:detail' username=request.user.username %}">
                                    <i class="bi bi-person-fill mr-2 text-gray-400"></i>
                {% trans "My profile" %}
                                </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="bi bi-box-arrow-right mr-2 text-gray-400"></i>
                {% trans "Sign Out" %}
              </a>
            </div>
          </li>
{% endif %}
        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

        <!-- Page Heading
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div> -->


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © <a href="https://beyondthewall.ch">Beyond the wall</a> {% now "Y" %}</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>

</div>


{% endblock %}
