.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    -webkit-transition: none;
    transition: none;
  }
}
a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #0061f2;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #004dbf;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6900c7;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #4e0094;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 0, 199, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(105, 0, 199, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #00ac69;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #00794a;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 172, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 172, 105, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #00cfd5;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #009da2;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 207, 213, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 207, 213, 0.5);
}

.badge-warning {
  color: #fff;
  background-color: #f4a100;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #fff;
  background-color: #c17f00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 161, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 161, 0, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #e81500;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #b51000;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 21, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 21, 0, 0.5);
}

.badge-light {
  color: #212832;
  background-color: #f2f6fc;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212832;
  background-color: #c9d9f2;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 246, 252, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(242, 246, 252, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #212832;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #0d0f13;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 40, 50, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(33, 40, 50, 0.5);
}

.badge-black {
  color: #fff;
  background-color: #000;
}

a.badge-black:hover, a.badge-black:focus {
  color: #fff;
  background-color: black;
}

a.badge-black:focus, a.badge-black.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.badge-white {
  color: #212832;
  background-color: #fff;
}

a.badge-white:hover, a.badge-white:focus {
  color: #212832;
  background-color: #e6e6e6;
}

a.badge-white:focus, a.badge-white.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.badge-red {
  color: #fff;
  background-color: #e81500;
}

a.badge-red:hover, a.badge-red:focus {
  color: #fff;
  background-color: #b51000;
}

a.badge-red:focus, a.badge-red.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 21, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 21, 0, 0.5);
}

.badge-orange {
  color: #fff;
  background-color: #f76400;
}

a.badge-orange:hover, a.badge-orange:focus {
  color: #fff;
  background-color: #c44f00;
}

a.badge-orange:focus, a.badge-orange.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(247, 100, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(247, 100, 0, 0.5);
}

.badge-yellow {
  color: #fff;
  background-color: #f4a100;
}

a.badge-yellow:hover, a.badge-yellow:focus {
  color: #fff;
  background-color: #c17f00;
}

a.badge-yellow:focus, a.badge-yellow.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 161, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 161, 0, 0.5);
}

.badge-green {
  color: #fff;
  background-color: #00ac69;
}

a.badge-green:hover, a.badge-green:focus {
  color: #fff;
  background-color: #00794a;
}

a.badge-green:focus, a.badge-green.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 172, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 172, 105, 0.5);
}

.badge-teal {
  color: #fff;
  background-color: #00ba94;
}

a.badge-teal:hover, a.badge-teal:focus {
  color: #fff;
  background-color: #00876b;
}

a.badge-teal:focus, a.badge-teal.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 186, 148, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 186, 148, 0.5);
}

.badge-cyan {
  color: #fff;
  background-color: #00cfd5;
}

a.badge-cyan:hover, a.badge-cyan:focus {
  color: #fff;
  background-color: #009da2;
}

a.badge-cyan:focus, a.badge-cyan.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 207, 213, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 207, 213, 0.5);
}

.badge-blue {
  color: #fff;
  background-color: #0061f2;
}

a.badge-blue:hover, a.badge-blue:focus {
  color: #fff;
  background-color: #004dbf;
}

a.badge-blue:focus, a.badge-blue.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.5);
}

.badge-indigo {
  color: #fff;
  background-color: #5800e8;
}

a.badge-indigo:hover, a.badge-indigo:focus {
  color: #fff;
  background-color: #4500b5;
}

a.badge-indigo:focus, a.badge-indigo.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 0, 232, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(88, 0, 232, 0.5);
}

.badge-purple {
  color: #fff;
  background-color: #6900c7;
}

a.badge-purple:hover, a.badge-purple:focus {
  color: #fff;
  background-color: #4e0094;
}

a.badge-purple:focus, a.badge-purple.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 0, 199, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(105, 0, 199, 0.5);
}

.badge-pink {
  color: #fff;
  background-color: #e30059;
}

a.badge-pink:hover, a.badge-pink:focus {
  color: #fff;
  background-color: #b00045;
}

a.badge-pink:focus, a.badge-pink.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(227, 0, 89, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(227, 0, 89, 0.5);
}

.badge-red-soft {
  color: #212832;
  background-color: #f1e0e3;
}

a.badge-red-soft:hover, a.badge-red-soft:focus {
  color: #212832;
  background-color: #e1bdc3;
}

a.badge-red-soft:focus, a.badge-red-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
}

.badge-orange-soft {
  color: #212832;
  background-color: #f3e7e3;
}

a.badge-orange-soft:hover, a.badge-orange-soft:focus {
  color: #212832;
  background-color: #e4c8bf;
}

a.badge-orange-soft:focus, a.badge-orange-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(243, 231, 227, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(243, 231, 227, 0.5);
}

.badge-yellow-soft {
  color: #212832;
  background-color: #f2eee3;
}

a.badge-yellow-soft:hover, a.badge-yellow-soft:focus {
  color: #212832;
  background-color: #e2d9c0;
}

a.badge-yellow-soft:focus, a.badge-yellow-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
}

.badge-green-soft {
  color: #212832;
  background-color: #daefed;
}

a.badge-green-soft:hover, a.badge-green-soft:focus {
  color: #212832;
  background-color: #b6e0dc;
}

a.badge-green-soft:focus, a.badge-green-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 239, 237, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 239, 237, 0.5);
}

.badge-teal-soft {
  color: #212832;
  background-color: #daf0f2;
}

a.badge-teal-soft:hover, a.badge-teal-soft:focus {
  color: #212832;
  background-color: #b4e1e5;
}

a.badge-teal-soft:focus, a.badge-teal-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 240, 242, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 240, 242, 0.5);
}

.badge-cyan-soft {
  color: #212832;
  background-color: #daf2f8;
}

a.badge-cyan-soft:hover, a.badge-cyan-soft:focus {
  color: #212832;
  background-color: #afe3f0;
}

a.badge-cyan-soft:focus, a.badge-cyan-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 242, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 242, 248, 0.5);
}

.badge-blue-soft {
  color: #212832;
  background-color: #dae7fb;
}

a.badge-blue-soft:hover, a.badge-blue-soft:focus {
  color: #212832;
  background-color: #acc9f6;
}

a.badge-blue-soft:focus, a.badge-blue-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 231, 251, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 231, 251, 0.5);
}

.badge-indigo-soft {
  color: #212832;
  background-color: #e3ddfa;
}

a.badge-indigo-soft:hover, a.badge-indigo-soft:focus {
  color: #212832;
  background-color: #beb1f3;
}

a.badge-indigo-soft:focus, a.badge-indigo-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(227, 221, 250, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(227, 221, 250, 0.5);
}

.badge-purple-soft {
  color: #212832;
  background-color: #e4ddf7;
}

a.badge-purple-soft:hover, a.badge-purple-soft:focus {
  color: #212832;
  background-color: #c3b4ed;
}

a.badge-purple-soft:focus, a.badge-purple-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(228, 221, 247, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(228, 221, 247, 0.5);
}

.badge-pink-soft {
  color: #212832;
  background-color: #f1ddec;
}

a.badge-pink-soft:hover, a.badge-pink-soft:focus {
  color: #212832;
  background-color: #e2b9d8;
}

a.badge-pink-soft:focus, a.badge-pink-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 221, 236, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(241, 221, 236, 0.5);
}

.badge-primary-soft {
  color: #212832;
  background-color: #dae7fb;
}

a.badge-primary-soft:hover, a.badge-primary-soft:focus {
  color: #212832;
  background-color: #acc9f6;
}

a.badge-primary-soft:focus, a.badge-primary-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 231, 251, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 231, 251, 0.5);
}

.badge-secondary-soft {
  color: #212832;
  background-color: #e4ddf7;
}

a.badge-secondary-soft:hover, a.badge-secondary-soft:focus {
  color: #212832;
  background-color: #c3b4ed;
}

a.badge-secondary-soft:focus, a.badge-secondary-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(228, 221, 247, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(228, 221, 247, 0.5);
}

.badge-success-soft {
  color: #212832;
  background-color: #daefed;
}

a.badge-success-soft:hover, a.badge-success-soft:focus {
  color: #212832;
  background-color: #b6e0dc;
}

a.badge-success-soft:focus, a.badge-success-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 239, 237, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 239, 237, 0.5);
}

.badge-info-soft {
  color: #212832;
  background-color: #daf2f8;
}

a.badge-info-soft:hover, a.badge-info-soft:focus {
  color: #212832;
  background-color: #afe3f0;
}

a.badge-info-soft:focus, a.badge-info-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 242, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 242, 248, 0.5);
}

.badge-warning-soft {
  color: #212832;
  background-color: #f2eee3;
}

a.badge-warning-soft:hover, a.badge-warning-soft:focus {
  color: #212832;
  background-color: #e2d9c0;
}

a.badge-warning-soft:focus, a.badge-warning-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
}

.badge-danger-soft {
  color: #212832;
  background-color: #f1e0e3;
}

a.badge-danger-soft:hover, a.badge-danger-soft:focus {
  color: #212832;
  background-color: #e1bdc3;
}

a.badge-danger-soft:focus, a.badge-danger-soft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
}

.btn-google-sign {
  color: #545454;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 1px #ddd;
          box-shadow: 0 1px 2px 1px #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.btn-google-sign svg {
  margin-right: 10px;
}

.datatable {
  font-size: 13.6px;
  font-size: 0.85rem;
}
.datatable thead th {
  border-top-width: 0;
}

@media (min-width: 768px) {
  .datatable {
    overflow: visible;
  }
}
.datatable table.dataTable thead,
.datatable table.dataTable tfoot {
  /*color: #0061f2;*/
}

.datatable table.dataTable thead th,
.datatable table.dataTable tfoot th {
  font-weight: 600;
}

.datatable table.dataTable.table-dark thead,
.datatable table.dataTable.table-dark tfoot {
  color: #fff;
}

.datatable .btn-datatable {
  height: 20px !important;
  width: 20px !important;
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 0.35rem !important;
}

.page-header .page-header-content {
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 96px !important;
  padding-bottom: 6rem !important;
}

.page-header .page-header-content .page-header-title {
  line-height: normal;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.page-header .page-header-content .page-header-title .page-header-icon {
  margin-right: 8px;
  margin-right: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page-header .page-header-content .page-header-title .page-header-icon .feather {
  height: 28px;
  height: 1.75rem;
  width: 28px;
  width: 1.75rem;
}

.page-header .page-header-content .page-header-subtitle {
  font-size: 18.4px;
  font-size: 1.15rem;
  margin-top: 4px;
  margin-top: 0.25rem;
}

.page-header .page-header-search .input-group-joined {
  border-color: transparent;
}

.page-header .page-header-search .input-group-joined .form-control {
  height: 64px;
  height: 4rem;
  font-size: 20px;
  font-size: 1.25rem;
}

.page-header .page-header-search .input-group-joined:focus-within {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
  border-color: transparent;
}

.page-header-compact .page-header-content {
  padding: 0;
}

.page-header-compact .page-header-content .page-header-title {
  font-size: 16px;
  font-size: 1rem;
}

.page-header-compact .page-header-content .page-header-title .page-header-icon .feather {
  height: 16px;
  height: 1rem;
  width: 16px;
  width: 1rem;
}

.page-header.page-header-dark {
  color: rgba(255, 255, 255, 0.5);
}

.page-header.page-header-dark .page-header-title {
  color: #fff;
}

.page-header.page-header-dark .page-header-title .page-header-icon {
  color: rgba(255, 255, 255, 0.5);
}

.page-header.page-header-dark .page-header-subtitle {
  color: rgba(255, 255, 255, 0.5);
}

.page-header.page-header-dark .breadcrumb {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.page-header.page-header-dark .breadcrumb .breadcrumb-item,
.page-header.page-header-dark .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.35);
}

.page-header.page-header-dark .breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.6);
}

.page-header.page-header-dark .page-header-search .input-group-joined:focus-within {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.page-header.page-header-light {
  color: rgba(33, 40, 50, 0.5);
}

.page-header.page-header-light .page-header-title {
  color: #212832;
}

.page-header.page-header-light .page-header-title .page-header-icon {
  color: rgba(33, 40, 50, 0.5);
}

.page-header.page-header-light .page-header-subtitle {
  color: rgba(33, 40, 50, 0.5);
}

.page-header.page-header-light .breadcrumb {
  background-color: rgba(0, 0, 0, 0.05);
}

.page-header.page-header-light .breadcrumb .breadcrumb-item,
.page-header.page-header-light .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #69707a;
}

.page-header.page-header-light .breadcrumb .breadcrumb-item a {
  color: #0061f2;
}

.headed-content {
  margin-top: -96px !important;
  margin-top: -6rem !important;
}

@media print {
  #invoice-content .table td, #invoice-content .table th {
    background-color: inherit !important;
  }
}
.nav-wizard {
  width: 100%;
}
.nav-wizard .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  padding: 2rem;
}
.nav-wizard .nav-link .wizard-step-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  height: 2.5rem;
  width: 40px;
  width: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 16px;
  margin-right: 1rem;
  border-radius: 0.35rem;
  background-color: #0061f2;
  color: white;
  font-size: 16px;
  font-size: 1rem;
}
.nav-wizard .nav-link .wizard-step-icon i, .nav-wizard .nav-link .wizard-step-icon svg, .nav-wizard .nav-link .wizard-step-icon .feather {
  color: white;
}
.nav-wizard .nav-link .wizard-step-text {
  line-height: 1;
  text-align: left;
}
.nav-wizard .nav-link .wizard-step-text .wizard-step-text-name {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  color: #0061f2;
}
.nav-wizard .nav-link .wizard-step-text .wizard-step-text-details {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #69707a;
}
.nav-wizard .nav-link.disabled .wizard-step-icon {
  background-color: #e9ecef;
  color: #adb5bd;
}
.nav-wizard .nav-link.disabled .wizard-step-text .wizard-step-text-name, .nav-wizard .nav-link.disabled .wizard-step-text .wizard-step-text-details {
  color: #adb5bd;
}
.nav-wizard .nav-link.active .wizard-step-icon {
  background-color: #fff;
  color: #0061f2;
}
.nav-wizard .nav-link.active .wizard-step-icon i, .nav-wizard .nav-link.active .wizard-step-icon svg, .nav-wizard .nav-link.active .wizard-step-icon .feather {
  color: #0061f2;
}
.nav-wizard .nav-link.active .wizard-step-text .wizard-step-text-name {
  color: #fff;
}
.nav-wizard .nav-link.active .wizard-step-text .wizard-step-text-details {
  color: rgba(255, 255, 255, 0.5);
}

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

fieldset {
  padding: 16px 24px;
  padding: 1rem 1.5rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
fieldset.border-left-info legend {
  color: #36b9cc;
}
fieldset.border-left-primary legend {
  color: var(--blue);
}
fieldset.border-left-success legend {
  color: var(--success);
}
fieldset.border-left-warning legend {
  color: var(--yellow);
}
fieldset legend {
  padding-top: 64px;
  padding-top: 4rem;
}
fieldset h4 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.buttonHolder {
  margin-top: 32px;
}

.card:not([class*=bg-]) .card-header {
  color: #0061f2;
}

.card .card-header {
  font-weight: 500;
}
.card .inline-fa {
  display: inline-block;
  max-height: 2em;
  width: 4em;
}

.card-header-actions .card-header {
  /*height: 3.5rem;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9px;
  padding-top: 0.5625rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #3a3b45;
}

.sidebar #sidebarToggle::after {
  content: "\f22d";
  font-family: bootstrap-icons !important;
}

.sidebar.toggled #sidebarToggle::after {
  content: "\f231";
  font-family: bootstrap-icons !important;
}

.btn-primary-soft {
  background-color: #dae7fb;
  border-color: #dae7fb;
}

.bg-login-image {
  background-image: url("../images/anne-nygard-OtqaCE_SEMI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-or {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 1.5em;
}
