{% extends "base.html" %}
{% load i18n crispy_forms_tags switzerland %}

{% block title %}{% trans "Send Invoice" %}{% endblock %}


{% block content %}
  <header class="page-header page-header-dark bg-gradient-primary">
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              <i class="bi bi bi-credit-card"></i>&nbsp; {% trans "Cancel invoice" %}
            </h1>
            <div class="page-header-subtitle">
              {{ invoice.code }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container headed-content">
    <div class="datatable card">
      <div class="card-body">
        <p class="lead">
        {% blocktrans with invoice=invoice.code client=invoice.client amount=invoice.total|money %}Please confirm you want to cancel invoice {{ invoice }} ({{ amount }}) for {{ client }}.{% endblocktrans %}
        </p>

        <form action="" method="post">
          {% crispy form %}
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
