{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Invoices" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script type="text/javascript"
          src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>

  <script>
    $(function () {
      let table = $("#invoices").DataTable({
        "ajax": {
          "url": "{% url 'api:invoice-list' %}?format=datatables",
          "headers": {"Accept-language": "{{ request.LANGUAGE_CODE }}"},
          "rowId": 'id'
        },
        {% if LANGUAGE_CODE == 'fr' %}
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/French.json"
          },
        {% elif LANGUAGE_CODE == 'de' %}
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/German.json"
          },
        {% endif %}

        "columnDefs": [
          {
            "orderable": false,
            "searchable": false,
            "targets": [-1]
          },
          {
            "render": function (data, type, row) {
              let actions = row['actions'].flatMap(
                  action => '<li><a href="' + action.url + '" class="btn btn-sm"><i class="' + action.icon_class + '"></i> ' + action.label + '</a></li>'
              ).join('');
              return '<ul class="list-unstyled">' + actions + '</ul>';
            },
            "className": "nobr",
            "targets": 'invoice-actions'
          },
          {
            render: function (data, type, row) {
              return data.display;
            },
            "targets": ['invoice-displayed_date', 'invoice-due_date']
          },
          {
            "render": function (data, type, row) {
              if (data) {
                return '<a href="' + data.dashboard_url + '">' + data.name + '</a>';
              }
            },
            'targets': 'invoice-client'
          },
          {
            "render": function (data, type, row) {
              let css_class = 'badge-primary'
              switch (data.value) {
                case 'draft':
                  css_class = 'badge-warning';
                  break;
                case 'sent':
                  css_class = 'badge-secondary';
                  break;
                case 'paid':
                  css_class = "badge-success";
                  break;
                case 'canceled':
                  css_class = 'bg-dark'
              }
              return '<div class="badge ' + css_class + ' badge-pill">' + data.label + '</div>';
            },
            'targets': 'invoice-status'
          },
          {
            "render": function (data, type, row) {
              return new Intl.NumberFormat('fr-CH', {style: 'currency', currency: row.client.currency}).format(data)
            },
            'targets': 'invoice-total'
          },
        ],
        "order": [[ 3, "desc" ]],
        "lengthMenu": [10, 25, 50, 100]
      });
    });
  </script>
{% endblock %}

{% block content %}
  <header class="page-header page-header-dark bg-gradient-primary">
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              {% trans "Invoices" %}
            </h1>
            <div class="page-header-subtitle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container headed-content">
  <div class="datatable card">
    <div class="card-body">
    <table class="table" id="invoices">
      <thead>
      <tr>
        <th data-data="code" class="invoice-code">{% trans "Code" %}</th>
        <th data-data="client" class="invoice-client">{% trans "Client" %}</th>
        <th data-data="displayed_date" class="invoice-displayed_date">{% trans "Date" %}</th>
        <th data-data="due_date" class="invoice-due_date">{% trans "Due date" %}</th>
        <th data-data="status" class="invoice-status">{% trans "Status" %}</th>
        <th data-data="total" class="invoice-total">{% trans "Total" %}</th>
        <th data-data="actions" class="invoice-actions d-print-none">{% trans "Actions" %}</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
      </div>
  </div>
  </section>
{% endblock content %}
