{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Invoices" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script type="text/javascript"
          src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
  <script>
    $(function () {
      let table = $("#invoices").DataTable({
        "ajax": {
          "url": "{% url 'api:invoice-list' %}?format=datatables",
          "headers": {"Accept-language": "{{ request.LANGUAGE_CODE }}"},
          "rowId": 'id'
        },
        {% if LANGUAGE_CODE == 'fr' %}
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/French.json"
          },
        {% endif %}
        "columnDefs": [
          {
            "orderable": false,
            "searchable": false,
            "targets": [-1]
          },
          {
            "render": function (data, type, row) {
              let actions = row['actions'].flatMap(
                  action => '<li><a href="' + action.url + '" class="btn btn-sm"><i class="' + action.icon_class + '"></i> ' + action.label + '</a></li>'
              ).join('');
              return '<ul class="list-unstyled">' + actions + '</ul>';
            },
            "className": "nobr",
            "targets": -1
          },
            {
            "render": function (data, type, row) {
              if (data) {
                return '<a href="' + data.url + '">' + data.name + '</a>';
              }
            },
            'targets': [1]
          },

          /*{
            "render": function (data, type, row) {
              if (data) {
                return '<i class="icon-ok-circled success"></i>';
              }
              return '<i class="icon-cancel-circled  danger"></i>';
            },
            'targets': [4]
          },*/
        ],
        "lengthMenu": [10, 25, 50, 100]
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h1>{% trans "Invoices" %}</h1>
  <table class="table" id="invoices">
    <thead>
    <tr>
      <th data-data="code">{% trans "Code" %}</th>
      <th data-data="client">{% trans "Client" %}</th>
      <th data-data="displayed_date">{% trans "Date" %}</th>
      <th data-data="due_date">{% trans "Due date" %}</th>

      <th data-data="status">{% trans "Status" %}</th>
      <th data-data="total">{% trans "Total" %}</th>
      <th data-data="actions" class="d-print-none">{% trans "Actions" %}</th>

    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
{% endblock content %}
