{% extends "base.html" %}
{% load i18n crispy_forms_tags switzerland %}

{% block title %}{% trans "Send Invoice" %}{% endblock %}


{% block content %}
  <header class="page-header page-header-dark bg-gradient-primary">
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4 mb-4">
            <h1 class="page-header-title">
              <i class="bi bi bi-credit-card"></i>&nbsp; {% block pagetitle %}{% trans "Send invoice" %}{% endblock %}
            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container headed-content">
    <div class="datatable card">
      <div class="card-body">
        <p class="lead">
        {% block lead %}
          {% blocktrans with invoice=invoice.code client=invoice.client amount=invoice.total|money %}Please confirm you
            want to send invoice {{ invoice }} ({{ amount }}) to {{ client }}.{% endblocktrans %}
        {% endblock%}
        </p>

        <form action="{{ invoice.get_send_url }}" method="post">
          {% csrf_token %}
          <div class="mb-3 row">
            <label for="recipient" class="col-sm-2 col-form-label">{% trans "To" %}</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="recipient"
                     value="{{ invoice.client.full_contact_email }}">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="recipient" class="col-sm-2 col-form-label">{% trans "Attachment" %}</label>
            <div class="col-sm-10">
              <button class="btn btn-link" id="download-button">
                <span class="label"><i class="bi bi-file-earmark-text"></i>&nbsp; {% trans "Invoice" %}</span>
                <span class="loading d-none">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                  {% trans "Generating PDF..." %}
                </span>
                <span class="error d-none">
                  <i class="bi bi-exclamation-triangle"></i>&nbsp; {% trans "Error" %}
                </span>
              </button>
            </div>
          </div>


          {% crispy form %}

        </form>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $('body').on('click', '#download-button:not(.btn-danger)', function (event) {

        event.preventDefault();

        function doPoll() {
          const url = "{{ invoice.get_pdf_generation_url }}";
          $('#download-button .label').addClass('d-none');
          $('#download-button .loading').removeClass('d-none');
          $.get(url).done(function (data) {
            if (data.status === 'ready') {
              const a = document.createElement('a');
              document.body.appendChild(a);
              a.style = 'display: none';
              a.href = data.pdf;
              a.download = ''
              a.click();
              $('#download-button .label').removeClass('d-none');
              $('#download-button .loading').addClass('d-none');
            } else if (data.status === 'error') {
              $('#download-button .loading').addClass('d-none');
              $('#download-button .error').removeClass('d-none');
              $('#download-button').toggleClass(['btn-primary', 'btn-danger']);

            } else {
              setTimeout(doPoll, 500);
            }
          });
        }
        doPoll()
      });
    });
  </script>
{% endblock %}
