{% extends "base.html" %}
{% load i18n l10n crispy_forms_tags %}

{% block title %}{% trans "Invoices" %}{% endblock %}


{% block content %}
  <header class="page-header page-header-dark bg-gradient-primary">
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              {% blocktrans with invoice=invoice.code %}Invoice: {{ invoice }}{% endblocktrans %}
            </h1>
            <div class="page-header-subtitle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container headed-content">
    <div class="datatable card">
      <div class="card-body">
        <form action="{{ invoice.get_edit_url }}" method="post">
          {% crispy form %}
        </form>
      </div>
    </div>
  </section>


  {% verbatim %}
  <script id="tpl-invoice-line" type="text/x-handlebars-template">
    <div id="item-{{ item.id }}" data-item-id="{{ item.id }}" data-item-url="{{ item.url }}" class="row invoice-line">
      <div class="col-4">
        <label for="description-{{ item.id }}" class="form-label">
          {% endverbatim %}{% trans "Description" %}{% verbatim %}
        </label>
        <textarea class="form-control description" id="description-{{ item.id }}"
                  rows="3">{{ item.description }}</textarea>
      </div>
      <div class="col">
        <label for="quantity-{{ item.id }}" class="form-label">
          {% endverbatim %}{% trans "Quantity" %}{% verbatim %}
        </label>
        <input type="number" step="any" value="{{ item.quantity }}" class="form-control quantity"
               id="quantity-{{ item.id }}">
      </div>
      <div class="col">
        <label for="unit-{{ item.id }}" class="form-label">
          {% endverbatim %}{% trans "Unit" %}{% verbatim %}
        </label>
        <select class="unit form-control" id="unit-{{ item.id }}">
          {{#select item.unit}}
          <option value="h">{% endverbatim %}{% trans "Hour" %}{% verbatim %}</option>
          <option value="nb">{% endverbatim %}{% trans "Number" %}{% verbatim %}</option>
          {{/select}}
        </select>
      </div>
      <div class="col">
        <label for="price_per_unit-{{ item.id }}" class="form-label">
          {% endverbatim %}{% trans "Unit price" %}{% verbatim %}
        </label>
        <input type="number" step=".01"
               value="{{ safeVal item.price_per_unit default_hourly_rate }}"
               class="form-control price_per_unit"
               id="price_per_unit-{{ item.id }}">
      </div>
      <div class="col">
        <label for="total-{{ item.id }}" class="form-label">
          {% endverbatim %}{% trans "Total" %}{% verbatim %}
        </label>
        <span class="form-text total" id="total-{{ item.id }}">{{ item.total }}</span>
      </div>
      <span class="item-action">
        <label>&nbsp;</label><br>
        <a href="" class="remove-from-cart form-text"
           data-api-url="{{ item.url }}">{% endverbatim %}{% trans "Delete" %}{% verbatim %}</a>
      </span>
    </div>
  </script>
  {% endverbatim %}
{% endblock content %}

{% block javascript %}

  {{ block.super }}
  {{ form.media }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $.ajaxSetup({
        headers: {"X-CSRFToken": "{{ csrf_token }}"}
      });
      Handlebars.registerHelper("select", function (value, options) {
        return options.fn(this)
            .split('\n')
            .map(function (v) {
              let t = 'value="' + value + '"'
              return !RegExp(t).test(v) ? v : v.replace(t, t + ' selected="selected"')
            })
            .join('\n')
      });
      Handlebars.registerHelper('safeVal', function (value, safeValue) {
        let out = value || safeValue;
        return new Handlebars.SafeString(out);
      });


      const source = $("#tpl-invoice-line").html();
      let line_tmpl = Handlebars.compile(source);

      let getLines = function (data) {
        for (const line of data.results) {
          let html = line_tmpl(
              {
                'item': line,
                'default_hourly_rate': {{ invoice.client.default_hourly_rate|unlocalize }}
              }
          );
          $('.lines').append(html);
        }
      };

      let updateLine = function ($line) {
        updateTotal($line);
        let data = {
          'description': $('.description', $line).val(),
          'quantity': $('.quantity', $line).val(),
          'unit': $('.unit', $line).val(),
          'price_per_unit': $('.price_per_unit', $line).val(),
        }
        if ($line.data('item-url') !== '') {
          $.ajax({
            url: $line.data('item-url'),
            type: 'PUT',
            data: data,
            success: function(response) {
              console.log('saved')
            }
          });
        } else {
          $.ajax({
            url: '{{ invoice.get_api_url }}lines/',
            type: 'POST',
            data: data,
            success: function(response) {
              $line.data('item-url', response.url);
              $line.data('item-id', response.id);
              $line.attr('id', 'item-' + response.id);
            }
          });
        }
      };

      let updateTotal = function($line){
        if (!$('.quantity', $line).val() || !$('.price_per_unit', $line)) return;
        $('.total', $line).text(
            parseFloat($('.quantity', $line).val()) * parseFloat($('.price_per_unit', $line).val())
        )
      }

      $.ajax({
        url: "{{ invoice.get_api_url }}lines/",
        type: 'GET',
        success: function (response) {
          getLines(response);
        },
      });

      $('#add-line').on('click', function () {
        let html = line_tmpl(
            {
              'item': {},
              'default_hourly_rate': {{ invoice.client.default_hourly_rate|unlocalize }}
            });
        $('.lines').append(html);
      });

      $('.lines').on('change', '.invoice-line :input', function () {
        updateLine($(this).parents('.invoice-line'));
      });


    });

  </script>
{% endblock %}


