{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Create company" %}
    </header>
    <article class="card-body">
      <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "companies/form.html" %}
        </form>
    </article>
  </section>

{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static "js/bootstrap-autocomplete.min.js" %}"></script>
  <script>
  $(document).ready(function() {
      $('#id_name').autoComplete({
        resolverSettings: {
          url: '{% url "api:companies-autocomplete" %}',
        },
        formatResult: function(company){
          return {id: company.uid, text: company.name + ', ' + company.city};
        },

      });

      $('#id_name').on('autocomplete.select', function (evt, item) {
        evt.preventDefault();
				$('#id_name').val(item.name);
				$('#id_vat_id').val(item.vat_id);
        $('#id_address').val(item.address);
        $('#id_city').val(item.city);
        $('#id_zip_code').val(item.zip_code);
        $('#id_country').val('CH');

				});

      // Modal
				$('.basicModalAutoSelect').autoComplete();
				$('.basicModalAutoSelect').on('autocomplete.select', function (evt, item) {
					console.log('select');
					$('.basicModalAutoSelectSelected').html(JSON.stringify(item));
				});




    });
  </script>

{% endblock %}
