{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Create company" %}
    </header>
    <article class="card-body" id="app">
      <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "companies/form.html" %}
        </form>
    </article>
  </section>

{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
  const IBAN_URL = "{% url 'api:iban-lookup' %}?q=";

    const app = new Vue({
      el: '#app',
      data: {
          bank: '',
          iban: '',
          ibanStatus: {
            valid: false,
            bank: {
              name: null,
              swift: null,
              address: null
            }
          },
      },
      methods: {
        async ibanLookup() {
          /* IBAN can range from as few as 15 characters (in Norway) and up to as many
          as 32 alphanumeric characters
          CH=21 chars, FR=27 chars, DE=22 chars, IT=27 chars, AT=20 chars, ES=24 chars, NL=18 chars,
          BE=16 chars, LU=20 chars, PT=25 chars, DK=18 chars, FI=18 chars, SE=24 chars, NO=15 chars,
          GB=22 chars, GR=27 chars, CY=28 chars, IE=22 chars, IS=26 chars, LI=21 chars, MT=31 chars,
          MC=27 chars, SM=27 chars, AL=28 chars, AD=24 chars, BA=20 chars, BG=22 chars, CR=22 chars,
          HR=21 chars, EE=20 chars, GE=22 chars, GL=18 chars, HU=28 chars, IE=22 chars, IL=23 chars,
          IQ=23 chars, IR=26 chars, JO=30 chars, KW=30 chars, KZ=20 chars, LB=28 chars, LC=32 chars,
          LT=20 chars, LV=21 chars, MK=19 chars, MR=27 chars, MU=30 chars, MD=24 chars, ME=22 chars,
          NL=18 chars, PK=24 chars, PS=29 chars, PL=28 chars, RO=24 chars, RS=22 chars, SA=24 chars,
          SK=24 chars, SI=19 chars, SM=27 chars, TN=24 chars, TR=26 chars, VG=24 chars, XK=20 chars
          */

          if (this.iban.replace(/\s/g, '').length < 15) {
            return;
          }
          const url = `${IBAN_URL}${this.iban}`;
          const response = await fetch(url);
          const finalRes = await response.json();
          this.ibanStatus = finalRes;
          this.bank = `${finalRes.bank.name}
${finalRes.bank.address}
${finalRes.bank.zip_code} ${finalRes.bank.city}`;
        }
      },
      watch: {
        iban: function() {
          this.ibanLookup();
        }
      }
    });
  </script>
  <script src="{% static "js/bootstrap-autocomplete.min.js" %}"></script>
  <script>
  $(document).ready(function() {
      $('#id_name').autoComplete({
        resolverSettings: {
          url: '{% url "api:companies-autocomplete" %}',
        },
        formatResult: function(company){
          return {id: company.uid, text: company.name + ', ' + company.city};
        },

      });

      $('#id_name').on('autocomplete.select', function (evt, item) {
        evt.preventDefault();
         $.ajax({
           headers: {"X-CSRFToken": "{{ csrf_token }}"},
           url: '{% url "api:company-detail" %}',
           data: {uid: item.uid},
           type: 'GET',
           success: function (companyDetail) {
             $('#id_name').val(companyDetail.name);
              $('#id_vat_id').val(companyDetail.vat_id);
              $('#id_address').val(companyDetail.address);
              $('#id_city').val(companyDetail.city);
              $('#id_zip_code').val(companyDetail.zip_code);
              $('#id_country').val('CH');
           },
         })
				});
    });
  </script>

{% endblock %}
