{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Create company" %}
    </header>
    <article class="card-body">
      <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "companies/form.html" %}
        </form>
    </article>
  </section>

{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static "js/bootstrap-autocomplete.min.js" %}"></script>
  <script>
  $(document).ready(function() {
      $('#id_name').autoComplete({
        resolverSettings: {
          url: '{% url "api:companies-autocomplete" %}',
        },
        formatResult: function(company){
          return {id: company.uid, text: company.name + ', ' + company.city};
        },

      });

      $('#id_name').on('autocomplete.select', function (evt, item) {
        evt.preventDefault();
         $.ajax({
           headers: {"X-CSRFToken": "{{ csrf_token }}"},
           url: '{% url "api:company-detail" %}',
           data: {uid: item.uid},
           type: 'GET',
           success: function (companyDetail) {
             $('#id_name').val(companyDetail.name);
              $('#id_vat_id').val(companyDetail.vat_id);
              $('#id_address').val(companyDetail.address);
              $('#id_city').val(companyDetail.city);
              $('#id_zip_code').val(companyDetail.zip_code);
              $('#id_country').val('CH');
           },
         })
				});
    });
  </script>

{% endblock %}
