{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Create company" %}
    </header>
    <article class="card-body" id="app" ref="app"
             data-autocomplete-url="{% url "api:companies-autocomplete" %}"
             data-company-detail-url="{% url "api:company-detail" %}"
             data-iban-url="{% url 'api:iban-lookup' %}?q=">

      <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      </form>
    </article>
  </section>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
  import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';

const app = new Vue({
  el: '#app',
  data: {
    stepIndex: 0,
    steps: [
      {
        name: 'About company'
      },
      {
        name: 'Bank account'
      },
      {
        name: 'Invoices'
      },
    ]
  },

});
  </script>
{% endblock %}
