{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Create company" %}
    </header>
    <article class="card-body" id="app" ref="app"
             data-autocomplete-url="{% url "api:companies-autocomplete" %}"
             data-company-detail-url="{% url "api:company-detail" %}"
             data-iban-url="{% url 'api:iban-lookup' %}?q=">

      <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <vue-typeahead-bootstrap
          v-model="query"
          :data="companies"
          :serializer="item => item.name + ', ' + item.city"
          min.matching-chars="3"
          placeholder="{% trans "Find company" %}"
          @input="companyLookup"
          @hit="selectedCompany = $event"
        ></vue-typeahead-bootstrap>
          {% crispy form %}
      </form>
    </article>

  </section>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="{% static 'js/wizard.js' %}"></script>
{% endblock %}
