{% extends "base-base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body-attrs %}class="bg-gradient-primary"{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

{% endblock %}
{% block main_content %}
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
              <div class="p-4">
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                  <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                  <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers list-inline">
                      <li>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-google-sign  btn-outline">
                          <svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18"
                               viewBox="0 0 18 18">
                            <path
                              d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18Z"
                              fill="#4285F4"></path>
                            <path
                              d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17Z"
                              fill="#34A853"></path>
                            <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07Z"
                                  fill="#FBBC05"></path>
                            <path
                              d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3Z"
                              fill="#EA4335"></path>
                          </svg>
                          {% trans "Sign in with Google" %}</a>
                      </li>
                    </ul>

                    <div class="login-or">{% trans 'or' %}</div>

                  </div>
                  {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                  <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

                <form class="login user" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>

                </form>
              <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </div>
                {% comment %}
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">{% trans "Welcome Back!" %}</h1>
                                    </div>
                                    <form class="login user" method="POST" action="{% url 'account_login' %}">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                      {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </div>

                                </div>
                                {% endcomment %}
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}


{% comment %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}

{% endcomment %}
