{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <noscript>
    <strong>{% blocktrans %}We're sorry but this app doesn't work properly without JavaScript enabled.
      Please enable it to continue.{% endblocktrans %}</strong>
  </noscript>

  <div id="app"
       data-language-code="{{ LANGUAGE_CODE }}"
       data-clients-url="{% url 'api:client-list' %}"
       data-companies-url="{% url 'api:company-list' %}"
       data-invoices-url="{% url 'api:invoice-list' %}"
       data-lines-url="{{ invoice.get_api_lines_url }}"
       data-preview-url="{{ invoice.get_absolute_url }}"
       {% if company %}data-company-pk="{{ company }}"{% endif %}
       {% if client %}data-client-pk="{{ client }}"{% endif %}
       {% if invoice %}data-invoice-url="{{ invoice.get_api_url }}"{% endif %}

  ></div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "invoices_app/js/chunk-vendors.js" %}" type="text/javascript"></script>
  <script src="{% static "invoices_app/js/app.js" %}" type="text/javascript"></script>
{% endblock javascript %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "invoices_app/css/app.css" %}">
{% endblock css %}
