
.datatable {
  font-size: 0.85rem;
  thead th {
    border-top-width: 0;
  }
}
@media (min-width: 768px) {
  .datatable {
    overflow: visible;
  }
}
.datatable table.dataTable thead,
.datatable table.dataTable tfoot {
  /*color: #0061f2;*/
}
.datatable table.dataTable thead th,
.datatable table.dataTable tfoot th {
  font-weight: 600;
}
.datatable table.dataTable.table-dark thead,
.datatable table.dataTable.table-dark tfoot {
  color: #fff;
}
.datatable .btn-datatable {
  height: 20px !important;
  width: 20px !important;
  font-size: 0.75rem;
  border-radius: 0.35rem !important;
}

