// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

@import "badges";
@import "datatables";
@import "page-header";
@import "print";

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

fieldset {
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;

  h4 {
    margin-bottom: 1.5rem;
  }
}

.card:not([class*=bg-]) .card-header {
  color: #0061f2;
}

.card {
  .card-header {
    font-weight: 500;
  }

  .inline-fa {
    display: inline-block;
    max-height: 2em;
    width: 4em;
  }
}

.card-header-actions .card-header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
}

