{% extends 'base.html' %}
{% load i18n switzerland humanize %}
{% block content %}
  {% if not companies %}
    <section class="card card-header-actions mb-4">
      <header class="card-header ">
        {% trans "Companies" %}
        <a class="btn btn-sm btn-primary" type="button"
           href="{% url 'companies:create' %}">{% trans "Add company" %}</a>
      </header>
      <article class="card-body">
        {% if not companies %}
          <p class="lead">{% trans "You haven't defined a company yet. Please create at least one" %}</p>
          <form action="{% url 'companies:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "companies/form.html" with form=company_form %}
          </form>
        {% else %}
        {% endif %}
      </article>
    </section>
  {% endif %}

  <div class="row">
    {% for company in companies %}
      <div class="col-lg-6">
        <section class="card shadow card-header-actions mb-4">
          <header class="card-header ">
            {{ company.name }}
            <a href="{{ company.edit_url }}" class="btn btn-sm btn-primary"><i
              class="icon bi-pencil"></i> {% trans "Edit" %}</a>

          </header>
          <article class="card-body p-2 p-sm-2">
            <div class="row mb-4">
              <div class="col">
                <div class="small">{{ company.name }}</div>
                <div class="text-xs text-muted">{{ company.zip_code }} {{ company.city }}</div>
              </div>
              <div class="col">
                {% if company.logo %}
                  <div class="text-center">
                    <img src="{{ company.logo.url }}" class="img-fluid px-3 px-sm-4"/>
                  </div>
                {% endif %}</div>

            </div>
            <hr/>
            <h5 class="h6">{% trans "Open invoices" %}</h5>
            <main class="row open-invoices" data-url="{{ company.open_invoices_api_url }}">
              <div class="col-6 col-sm-9 col-lg-8 col-xl-9">
                <canvas style="position: relative; height: 3rem; width: 100%"></canvas>
              </div>
              <div class="col-6 col-sm-3 col-lg-4 col-xl-3 align-middle text-center">
                <div class="open-total h5 m font-weight-bold text-gray-800"></div>
              </div>
            </main>
          </article>
          <article class="pl-0 pr-0 pl-sm-2 pr-sm-2">
            <table class="table small">
              <thead>
              <tr class="d-lg-none d-xl-table-row">
                <th>{% trans "Client" %}<span class="d-lg-none d-xl-inline">/ {% trans "Code" %}</span></th>
                <th class="d-none d-sm-table-cell">{% trans "Due date" context "compact" %}</th>
                <th>{% trans "Amount" %}<span class="d-lg-none d-xl-inline">/ {% trans "Status" %}</span></th>
                <th><span class="d-lg-none d-xl-inline">{% trans "Actions" %}</span></th>

              </tr>
              </thead>
              {% for invoice in company.open_invoices|slice:":5" %}
                <tr>
                  <td
                    class="border-left-{% if invoice.is_paid %}success{% elif invoice.is_overdue %}danger{% elif invoice.is_sent %}primary{% else %}secondary{% endif %}">
                    <span class="d-lg-none d-xl-inline">{{ invoice.client }}<br></span>
                    <small>{{ invoice.code }}</small>
                  </td>
                  <td class="d-none d-sm-table-cell">{{ invoice.due_date|date }}<br>
                    {% if invoice.due_date and not invoice.is_paid %}
                      <small class="d-none d-sm-inline">{{ invoice.due_datetime | naturaltime }}</small>
                    {% endif %}
                  </td>
                  <td>
                    {{ invoice.total|money }}<br>
                    <small>{{ invoice.get_status_display }}</small>
                  </td>
                  <td class="text-nowrap">
                    {% if invoice.is_sent %}
                      <a href="{{ invoice.get_set_paid_url }}" class="btn btn-sm">
                        <i class="icon bi-credit-card"></i>
                        <span
                          class="d-inline d-sm-none d-xl-inline">&nbsp;{% trans "Payment received" context "compact" %}</span>
                      </a><br>
                    {% endif %}
                    <a href="{{ invoice.get_duplicate_url }}" class="btn btn-sm">
                      <i class="icon bi-files"></i>
                      <span class="d-inline d-sm-none d-xl-inline">&nbsp;{% trans "Duplicate" %}</span>
                    </a><br>
                    <a href="{{ invoice.get_absolute_url }}" class="btn btn-sm no-">
                      <i class="icon bi-file-earmark-text"></i>
                      <span class="d-inline d-sm-none d-xl-inline">&nbsp;{% trans "View" %}</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}

            </table>
          </article>

          <a class="card-footer" href="{% url 'invoices:list' %}">
            <div class="d-flex align-items-center justify-content-between small text-body">
              {% trans "All invoices" %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </a>
        </section>

      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
  <script>
    jQuery(document).ready(function ($) {
      $.ajaxSetup({
        headers: {"X-CSRFToken": "{{ csrf_token }}"}
      });
      let number_format = function (number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        let n = !isFinite(+number) ? 0 : +number,
          prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
          sep = (typeof thousands_sep === 'undefined') ? "'" : thousands_sep,
          dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
          s = '',
          toFixedFix = function (n, prec) {
            let k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
          };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
          s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
          s[1] = s[1] || '';
          s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
      }

      let updateOpenInvoices = function () {
        $('.open-invoices').each(function () {
          let url = $(this).data('url');
          let $total = $('.open-total', $(this));
          let ctx = $('canvas', this)[0].getContext('2d');
          $.ajax({
            url: url,
            type: 'get',
            success: function (response) {
              $total.text('CHF ' + number_format(response.total))
              let chart = new Chart(ctx, {
                  type: 'horizontalBar',
                  data: {
                    datasets: [
                      {
                        data: [response.waiting],
                        label: "{% trans 'Waiting' %}",
                        borderColor: 'rgba(78, 115, 223, 1)',
                        borderWidth: 1,
                        backgroundColor: 'rgba(78, 115, 223, 0.5)'
                      },
                      {
                        data: [response.overdue],
                        label: "{% trans 'Overdue' %}",
                        borderColor: 'rgba(231,74,59,1)',
                        borderWidth: 1,
                        backgroundColor: 'rgba(231,74,59,0.5)'
                      }
                    ]
                  },
                  options: {
                    legend: {
                      display: false,
                    },
                    tooltips: {
                      backgroundColor: "rgb(255,255,255)",
                      bodyFontColor: "#858796",
                      borderColor: '#dddfeb',
                      borderWidth: 1,
                      xPadding: 15,
                      yPadding: 15,
                      displayColors: true,
                      caretPadding: -10,
                      callbacks: {
                        label: function (tooltipItem, data) {
                          let label = data.datasets[tooltipItem.datasetIndex].label || '';
                          if (label) {
                            label += ': ';
                          }
                          label += 'CHF ' + number_format(tooltipItem.xLabel);
                          return label
                        },
                        title: function () {
                          return ''
                        },
                      }
                    },
                    scales: {
                      xAxes: [{
                        ticks: {
                          beginAtZero: true,
                          fontFamily: "Nunito, sans-serif",
                          fontSize: 11,
                        },
                        scaleLabel: {
                          display: false
                        },
                        gridLines: {},
                        stacked: true
                      }],
                      yAxes: [{
                        gridLines: {
                          display: false,
                          color: "#fff",
                          zeroLineColor: "#fff",
                          zeroLineWidth: 0
                        },
                        ticks: {
                          fontFamily: "Nunito, sans-serif",
                          fontSize: 11,
                        },
                        stacked: true
                      }]
                    },
                  }
                }
              )
            }
          })

        });
      };
      updateOpenInvoices()

    });
  </script>
{% endblock %}
