{% extends 'base.html' %}
{% load i18n  %}
{% block content %}
  <section class="card card-header-actions mb-4">
    <header class="card-header ">
      {% trans "Delete client" %}
    </header>
    <article class="card-body">
      <p class="lead">
        {% blocktrans with company=company %}Are you sure you want to delete "{{ client }}"?{% endblocktrans %}
      </p>
      <form action="{{ client.delete_url }}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>

        </form>
    </article>
  </section>

{% endblock content %}
